:root{
    --background-color-primary: #cccccc;
    --text-color-primary: rgb(0, 0, 0);
    --symbol-color-primary: black;
    --button-background-color: #afafaf;
    --lang-backdrop: rgba(179, 174, 248, 0.8);
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;700&display=swap');

.menu, .close{
    display: none;
}
svg:hover{
    cursor: pointer;
}

html{
    background-color: var(--background-color-primary);
}
*{
    font-family: Inter;
    margin: 0;
    padding: 0;
}
.header{
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.nav{
    padding-left: 10vw;
    display: flex;
    flex-direction: row;
}

.nav {
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


nav a {
    padding-left: .5vw;
    text-decoration: none;
    color: var(--text-color-primary);
}
.resume__symbol, .moon, #projects__symbol {
    padding-left: 2vw;
}

#projects__symbol path{
    fill: transparent;
}
#project__outline{
    stroke: none;
}

svg, svg path, .st0 {
    fill: var(--symbol-color-primary);
    color: var(--symbol-color-primary);
    stroke: var(--symbol-color-primary);
}

.main__content{
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__left{
    padding-left: 2vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center
}

main svg{
    padding-top: 4vh;
}

header a{
    font-size: 2vh;
    font-weight: bold;
}