:root{
    --background-color-primary: #cccccc;
    --background-color-primaryTransparent:#cccccce4;
    --text-color-primary: rgb(0, 0, 0);
    --symbol-color-primary: black;
    --button-background-color: #afafaf;
    --lang-backdrop: rgba(179, 174, 248, 0.8);
}
*{
    font-family: Inter;
    margin: 0;
    padding: 0;
}
.home__button{
    width: 5.5vw;
    height: auto;
    box-sizing: border-box;
    margin-left: 1vw;
}
#home__wrapper{
    display: none;
}
.home__button:hover{
    cursor: pointer;
}
.menu, .close,#github__footer, #linkedin__footer{
    display: none;
}
svg:hover{
    cursor: pointer;
}
html{
    background-color: var(--background-color-primary);
}

#navHeader{
    transition: top linear 0.3s;
}
.header{
    position: fixed;
    background-color: var(--background-color-primaryTransparent);
    z-index: 100;
}

.header{
    width:97%;
    height: 10%;
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    
}

.nav{
    padding-left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


nav a {
    padding-left: .5vw;
    text-decoration: none;
    color: var(--text-color-primary);
}

#resume__symbol, .moon{
    padding-left: 2vw;
}

#projects__wrapper, #resume__wrapper{
    display: flex;
    align-items: center;
}
#projects__symbol path{
    fill: transparent;
}
#project__outline{
    stroke: none;
}

svg, svg path, .st0 {
    fill: var(--symbol-color-primary);
    color: var(--symbol-color-primary);
    stroke: var(--symbol-color-primary);
}
.main{
    padding-top: 10vh;
}
.main__content{
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__left{
    padding-left: 2vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fixed__wrapper{
    height: 100%;
    display: flex;
    margin-right: 4vw;
}
#github__fixed, #linkedin__fixed{
    position: fixed;
}
#github__fixed{
    top: 40%;
    transform: translateY(-60%);
}
#linkedin__fixed{
    top: 50%;
    transform: translateY(-50%);
}
main svg{
    padding-top: 4vh;
}

header a{
    font-size: 2vh;
    font-weight: bold;
}
#logoFooterNav{
    position: fixed;
    top: 72%;
    z-index: 100;
}

@media(max-width: 1920px){
    header a{
        font-size: 3vh;
    }
}
@media(max-width: 1100px){
    .home__button{
        width: 8vw;
        height: auto;
        box-sizing: border-box;
        margin-left: 1vw;
    }
    .moon{
        display: none;
    }
}

@media(max-width: 840px){
    #mobileMenu, #mobileMenuClose{
        display:none;
    }
    .main{
        padding-top: 2vh;
    }
    #github__fixed, #linkedin__fixed, .home__button {
        display: none;
    }
    #mobileMenu{
        display: block;
    }
    #mobileMenuClose{
        display: none;
    }
    #mobileMenu, #mobileMenuClose{
        margin-left: 9vw;
        width: 10vw;
        height: auto;
    }
    #github__footer, #linkedin__footer{
        width: 15vw;
        height: auto;
        display: block;
    }

    #projects__symbol, #resume__symbol{
        display: none;
    }
    .logoFooter{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-around;
    }
    .header, .nav{
        flex-direction: column;
        background-color: var(--background-color-primary);
        width: 100%;
        align-items: flex-start;    
    }
    .header{
        gap: 7.5vh;
        justify-content: start;
    }
    #home__wrapper, #projects__wrapper{
        margin-bottom: 5vh;
    }
    #projects__wrapper a, #resume__wrapper a, #home__wrapper a{
        display: flex;
        flex-direction: row;
        box-sizing:border-box;
        width: 120vw;
        font-size: 100px;
        margin-left: -6.5vw;
    }
    #projects__symbol{
        width: 10vw;
    }
    #resume__symbol{
        height: auto;
        width: 12vw;
        margin-left: -4vw;
        padding: 0;
    }
    .header{
       height: 10%;
    }
    .header__wrapper{
        height: 10vh;
    }
    #logoFooter{
        width: 100%;
    }
    #projects__wrapper, #resume__wrapper, #home__wrapper{
        display: none;
    }
    .logoNav{
        z-index: 100;
        position: absolute;
        bottom: 10%;
        left: 15%;
        display: flex;
        width: 60%;
    }
    .main__left{
        display: none;
    }
    .main__content{
        margin-left: 6.5vw;
        padding-top: 2vh;
    }
    #mobileNav{
        margin-left: -5vw;
    }
    .main{
        width: 100%;
    }
    .main__content{
        width: 100%;
    }
    .linkedinNav, .githubNav{
        
    }

}
@media(max-width: 500px){
    #projects__wrapper a, #resume__wrapper a, #home__wrapper a{
        font-size: 80px;
    }
    .logoFooter{
        bottom: 30%;
        width: 110%;
        margin: 0vh 0vw -8vh 0;
    }
    #github__footer, #linkedin__footer{
        width: 20vw;
        height: auto;
    }

}

