@import './base.css';



.bitmoji{
    object-fit: contain;
    width: 20vw;
    height: 25vw;
}

.main__name{
    font-size: 5vw;
    white-space: nowrap;
}

#info__autotype{
    font-size: 4vw;
}
.main__about{
    padding-top: 1vh;
    font-size: 2vw;
}

.main__info{
    display: flex;
    flex-direction: column;
}

.contact__button{
    border-radius: 1vmax;
    margin-top: 4vh;
    font-size: 4vh;
    font-weight: bold;
    min-height: 8vh;
    border: 3px solid black;
    transition: all .4s linear;
}

.contact__button:hover, .contact__button:focus{
    cursor: pointer;
    background-color: var(--button-background-color);
    box-shadow: 0 0 0 3px black;
}

.contact__button:not(:hover), .contact__button:not(:focus){
    border: 3px solid black;
    outline: none;
    transition: all .4s linear;
}


.typed-cursor{
    font-size: 3.5vw;
}
#github__fixed{
    margin-top: 20vh;
}
#linkedin__fixed{
    margin-top: 30vh;
}
@media(max-width: 1100px){
    .main__name{
        font-size: 6vw;
    }
    #info__autotype{
        font-size: 5vw;
    }
    .main__about{
        font-size: 4vw;
    }
}

@media(max-width: 750px){
    .moon{
        display: none;
    }
    .main__content{
        padding-top: 4vh;
    }
    .main__info{
        padding-right: 6vw;
    }
    .bitmoji{
        display: none;
    }
    .main__name{
        font-size: 7vw;
    }
    #info__autotype{
        font-size: 6vw;
    }
    .main__about{
        font-size: 5vw;
    }
    .contact__button{
        min-height: 15vh;
    }
}

@media(max-width: 600px){

}