@import './base.css';
.main__content{
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__left{
    padding-left: 3vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center
}

main svg{
    padding-top: 5vh;
}

.main_photo img{
    align-items: flex-end;
    width: 100%;
    
}